streamlit>=1.37.0
pandas==2.2.3
numpy==1.26.4
xgboost
shap
scikit-learn
plotly
requests
flask
gunicorn
hopsworks[python]==5.0.5
confluent-kafka
openmeteo-requests
requests-cache
retry-requests
joblib
